body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(0.25turn, #e66465, #9198e5);*/
    background-color: #ff5f45;
    font-family: 'Playfair Display', serif;
    fint-size: 14px;
}

header .nav {
    background: aliceblue;
}

.form {
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-sign-in, .form-sign-up, .event-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
}

.form form {
    padding: 20px;
}

.form h1 {
    padding: 20px 0;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 5px 5px 0 0;
    color: white;
}

.form button {
    margin-top: 20px;
    font-size: 1.5em;
    border-radius: 10px;
}

.form input {
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);;
}


.form-sign-in .forget-password {
    float: right;
}

.form-sign-in .forget-password:after {
    clear: both;
}

.form-sign-in .to-register {
    text-align: center;
}

.category-form {
    margin-top: 20px;
}

.table {
    padding: 0 5%;
}
table tbody {
    background: thistle;
}

main .table th, main .table td {
    vertical-align: middle;
    text-align: center;
}

table a.btn {
    width: 100%;
}

.table caption {
    caption-side: top;
    text-align: center;
    font-size: 2em;
    color: aliceblue;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

nav {
    z-index: 1;
}

canvas {
    background-color: #f3f3f3;
}

p{margin:0;padding:0}.cards{width:100%;display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:center;align-items: flex-start;}.cards .card{text-align:center;box-shadow:0 0 5px rgba(0,0,0,0.5);margin-left:10px;max-width:300px;}.cards .card:first-child{margin-left:0}.cards .card .card-img{overflow:auto;max-height:200px;background-repeat:no-repeat;background-position:center;background-size:cover}.cards .card .card-img .card-detail{opacity:0;background-color:#ced6e0;min-height:200px;-webkit-transition:opacity 0.5s linear;transition:opacity 0.5s linear}.cards .card .card-img .card-detail:hover{opacity:1}.cards .card .card-img .card-detail h6{text-transform:uppercase;background-color:#1e90ff;border-color:#dfe4ea;border-style:solid;border-width:1px 0;font-style:bold;padding:0 5px}.cards .card .card-img .card-detail p{font-style:italic}.cards .card .card-body{background-color:#dfe4ea;padding:0;padding-bottom:5px}.cards .card .card-body .card-title{margin-bottom:0;padding:5px}.cards .card .card-body .card-labels{display:-webkit-box;display:flex;-webkit-box-pack:center;justify-content:space-between}.cards .card .card-body .card-labels .label{text-transform:uppercase;padding:0 3px}.cards .card .card-body .card-labels .label:after{content:"$"}.cards .card .card-body .card-labels .label.income{background-color:#2ed573}.cards .card .card-body .card-labels .label.outcome{background-color:#ff6348}.cards .card .card-body .card-labels .label.total{background-color:#eccc68}.cards .card .card-body .card-buttons{display:-webkit-box;display:flex;justify-content:space-between}.cards .card .card-body .card-buttons .btn{width:30%;min-height:50px;line-height:50px;text-align:center;padding:0}

/*# sourceMappingURL=style.min.css.map */
