body {
    margin: 0;
    padding: 0;
    /*background: linear-gradient(0.25turn, #e66465, #9198e5);*/
    background-color: #ff5f45;
    font-family: 'Playfair Display', serif;
    fint-size: 14px;
}

header .nav {
    background: aliceblue;
}

.form {
    background-color: #f3f3f3;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-sign-in, .form-sign-up, .event-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 400px;
}

.form form {
    padding: 20px;
}

.form h1 {
    padding: 20px 0;
    text-align: center;
    background-color: cornflowerblue;
    border-radius: 5px 5px 0 0;
    color: white;
}

.form button {
    margin-top: 20px;
    font-size: 1.5em;
    border-radius: 10px;
}

.form input {
    border-radius: 5px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.5);;
}


.form-sign-in .forget-password {
    float: right;
}

.form-sign-in .forget-password:after {
    clear: both;
}

.form-sign-in .to-register {
    text-align: center;
}

.category-form {
    margin-top: 20px;
}

.table {
    padding: 0 5%;
}
table tbody {
    background: thistle;
}

main .table th, main .table td {
    vertical-align: middle;
    text-align: center;
}

table a.btn {
    width: 100%;
}

.table caption {
    caption-side: top;
    text-align: center;
    font-size: 2em;
}

tfoot input {
    width: 100%;
    padding: 3px;
    box-sizing: border-box;
}

nav {
    z-index: 1;
}