<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="../fragments/head">REPLACE BEFORE COMMITTING/head>
<body>
<div th:replace="../fragments/nav">
    REPLACE BEFORE COMMITTING
</div>
<main id="main">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-3">
                <div class="form category-form">
                    <h1 th:text="${category.id!=null} ? 'Edit Category' : 'New Category'">Category</h1>
                    <!--/*@thymesVar id="category" type="by.sivko.cashsaving.models.Category"*/-->
                    <form method="post" class="needs-validation" novalidate th:object="${category}"
                          th:action="@{/category/add}" enctype="multipart/form-data">
                        <div th:replace="../fragments/hiddenErrors">REPLACE BEFORE COMMITTING</div>
                        <div class="form-group">
                            <div class="control-group" th:classappend="${#fields.hasErrors('name')} ? 'error'">
                                <label for="name">Category name</label>
                                <input type="text" class="form-control" th:field="*{name}" placeholder="Category name"
                                       th:classappend="${nameError!=null} ? 'is-invalid'" required/>
                                <label class="invalid-feedback" th:if="${nameError!=null}"
                                       th:text="${nameError}">[error]</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-group" th:classappend="${#fields.hasErrors('description')} ? 'error'">
                                <label for="description">Description</label>
                                <textarea type="text" class="form-control" th:field="*{description}"
                                          placeholder="Description" rows="3"
                                          th:classappend="${descriptionError!=null} ? 'is-invalid'"
                                          required></textarea>
                                <label class="invalid-feedback" th:if="${descriptionError!=null}"
                                       th:text="${descriptionError}">[error]</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-group" th:classappend="${#fields.hasErrors('capacity')} ? 'error'">
                                <label for="capacity">Capacity</label>
                                <input type="number" class="form-control" th:field="*{capacity}" placeholder="Capacity"
                                       th:classappend="${capacityError!=null} ? 'is-invalid'"
                                       required>
                                <label class="invalid-feedback" th:if="${capacityError!=null}"
                                       th:text="${capacityError}">[error]</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="control-group" th:classappend="${#fields.hasErrors('createAt')} ? 'error'">
                                <label for="createAt">crateAt</label>
                                <input type="datetime-local" class="form-control" th:field="*{createAt}"
                                       th:classappend="${createAtError!=null} ? 'is-invalid'"
                                       required>
                                <label class="invalid-feedback" th:if="${createAtError!=null}"
                                       th:text="${createAtError}">[error]</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="custom-file">
                                <input class="form-control" type="file" name="file" id="file"/>
                                <label class="custom-file-label" for="file">Choose file...</label>
                            </div>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn-block btn-primary"
                                    th:text="${category.id!=null} ? 'Edit Category' : 'Add Category'">
                            </button>
                        </div>
                    </form>
                    <a style="width: 100%; margin-bottom: 5px;" class="btn btn-success" role="button"
                       th:if="${category.id!=null}"
                       th:href="@{|/category/${category.id}/event/add|}">Add new Event</a>
                </div>
            </div>
            <div class="col-md-9" th:include="../fragments/eventHistory"
                 th:if="${eventHistory!=null && !eventHistory.isEmpty()}">REPLACE BEFORE COMMITTING
            </div>
        </div>
    </div>
    <div class="container" th:include="../fragments/chart" th:if="${eventHistory!=null && !eventHistory.isEmpty()}">
        REPLACE BEFORE COMMITTING
    </div>
</main>
<footer th:replace="../fragments/footer" class="footer">REPLACE BEFORE COMMITTING</footer>
</body>
</html>