<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="../fragments/head">REPLACE BEFORE COMMITTING/head>
<body>
<div th:replace="../fragments/nav">
    REPLACE BEFORE COMMITTING
</div>
<main id="main">
    <br>
    <div class="form event-form">
        <h1>Event</h1>
        <!--/*@thymesVar id="event" type="by.sivko.cashsaving.models.Event"*/-->
        <form class="needs-validation" action="" novalidate method="POST" th:object="${event}"
              th:action="${#httpServletRequest.requestURI}" enctype="multipart/form-data">
            <div class="form-group">
                <div class="control-group">
                    <label for="name">Event name</label>
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Event name"
                           th:classappend="${nameError!=null} ? 'is-invalid'" required/>
                    <label class="invalid-feedback" th:if="${nameError!=null}"
                           th:text="${nameError}">[error]</label>
                </div>
            </div>
            <div class="form-group">
                <div class="control-group">
                    <label for="description">Description</label>
                    <textarea type="text" class="form-control" th:field="*{description}" placeholder="Description"
                              rows="3" th:classappend="${descriptionError!=null} ? 'is-invalid'" required></textarea>
                    <label class="invalid-feedback" th:if="${descriptionError!=null}"
                           th:text="${descriptionError}">[error]</label>
                </div>
            </div>
            <div class="form-group">
                <div class="control-group">
                    <label for="amount">Amount</label>
                    <input type="number" class="form-control" th:field="*{amount}" placeholder="Amount"
                           th:classappend="${amountError!=null} ? 'is-invalid'" required/>
                    <label class="invalid-feedback" th:if="${amountError!=null}"
                           th:text="${amountError}">[error]</label>
                </div>
            </div>
            <div class="form-group">
                <div class="control-group">
                    <label for="createAt">crateAt</label>
                    <input type="datetime-local" class="form-control" th:field="*{createAt}"
                           th:classappend="${createAtError!=null} ? 'is-invalid'" required/>
                    <label class="invalid-feedback" th:if="${capacityError!=null}"
                           th:text="${createAtError}">[error]</label>
                </div>
            </div>
            <div class="form-group">
                <label for="type">Type</label>
                <select class="form-control" th:field="*{type}"
                        th:classappend="${typeError!=null} ? 'is-invalid'">
                    <!--/*@thymesVar id="type" type="by.sivko.cashsaving.models.Event.Type"*/-->
                    <!--/*@thymesVar id="eventTypes" type="java.util.Enumeration<by.sivko.cashsaving.models.Event.Type>"*/-->
                    <option th:each="type : ${eventTypes}" th:value="${type}" th:text="${type.name()}">
                </select>
                <label class="invalid-feedback" th:if="${typeError!=null}"
                       th:text="${typeError}">[error]</label>
            </div>
            <div class="form-group">
                <div class="custom-file">
                    <input class="form-control" type="file" name="file" id="file"/>
                    <label class="custom-file-label" for="file">Choose file...</label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn-block btn-primary">Add event</button>
            </div>
        </form>
    </div>
</main>
<footer th:replace="../fragments/footer" class="footer">REPLACE BEFORE COMMITTING</footer>
</body>
</html>