<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head th:replace="../fragments/head">REPLACE BEFORE COMMITTING</head>
<body>
<div th:replace="../fragments/nav">
    REPLACE BEFORE COMMITTING
</div>
<main id="main">
    <section th:include="../fragments/categoryCardColumns" th:if="${categories!=null && !categories.isEmpty()}">
        REPLACE BEFORE COMMITTING
    </section>
    <section th:include="../fragments/eventHistory" th:if="${eventHistory!=null && !eventHistory.isEmpty()}">
        REPLACE BEFORE COMMITTING
    </section>
    <section th:include="../fragments/chart" th:if="${eventHistory!=null && !eventHistory.isEmpty()}">
        REPLACE BEFORE COMMITTING
    </section>
</main>
<footer th:replace="../fragments/footer" class="footer">REPLACE BEFORE COMMITTING</footer>
</body>
</html>